@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  color: #016ac5;
  font-weight: 500;
}

a {
  text-decoration: none !important;
}

.options:hover {
  color: white;
}

.log-out:hover {
  color: red;
}

.icon-flex {
  display: flex;
  justify-content: space-evenly;
}
